.header{
    background-image: url(../../image/Group\ 16.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:1045px;
    /* width:100%; */
    /* position: absolute;
    left: 17.19%;
    right: -0.03%;
    top: 0%;
    bottom: 59.82%; */
}